<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" />
		<sessionState timeout="20" />
		<customErrors mode="Off"></customErrors>
	</system.web>

	<location path="upload.aspx">
		<system.web>
			<httpRuntime maxRequestLength="2097151" executionTimeout="86400"  />
			<!-- Allow 2 GB uploads and 24 hour timeout for script receiving the files -->
		</system.web>
	</location>
</configuration>
